.wrapper{
  background-image: linear-gradient(to bottom, #141414, #171617, #191919, #1c1b1b, #1f1d1d);    width: 100%;
  padding: 23px 32px;
  min-height: 100vh;
}

/* Flex */
.flex-row{
  display: flex;
  flex-direction: row;
}
.header{
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  height: 75px;
  z-index: 7;
}
.header-navigation {
  position: absolute;
  top: -500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
}
.navigation-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;

}
.navigation-link{
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.navigation-link:hover{
  border-bottom: 1px solid #fff;
  color: rgba(242, 137, 15, 1);
}

.block{
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 75px;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1;
  transition: all 0.5s;
}
.menu-tel{
  display: none;
}
.main{
  padding: 50px 20px;
}
.text-yelow{
  color: rgba(242, 137, 15, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
}

.title{
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
}
.filters-container{
  padding: 50px 0;
  flex-wrap: wrap;
}
.filter-link{
  display: flex;
  align-items: center;
  width: calc(100% / 2 - 20px);
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  padding-bottom: 20px;
  margin: 10px 10px  0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.filter-link > img{
  margin-right: 10px;
}
.filter-active >a{
  color: rgba(242, 137, 15, 1);
}
.main-container{
  flex-wrap: wrap;
  margin: -15px;
}
.main-wrap{
  margin: 15px;
  width: calc(100% / 2 - 30px);
  height: 230px;
}
.main-block{
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.main-block >div::after{
  content: '';
  height: 100px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 130px;
  background: linear-gradient(0deg, rgba(20,20,20,0.8996848739495799) 0%, rgba(31,29,29,0.050945378151260545) 44%);
}
.main-block-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 20px;
  
}

.main-block-info > div{
  padding: 0 20px;
}
.main-block-info > div{
  border-right: 1px solid rgba(255, 255, 255, 0.32);
}
.main-block-info > div:last-child{
  border: none
}
.main-block-info > div:first-child{
  padding-left: 0;

}
.main-block-icon{
  margin-right: 10px;
}

.qest-cover {
  height: 100vh;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}
.qest-container{
  display: flex;
  flex-direction: column;
  justify-content:  center;
  padding:20px;
}

.qest-heading{
  font-weight: 900;
  font-size: 4rem;
  line-height: 95%;
  padding-bottom: 20px;
}
.qest-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  background-color: rgba(0, 0, 0, 0.1);
}
.qest-info{
  padding-bottom: 30px;
}
.qest-btn{
  width: 250px;
  height: 65px;
  background-color: rgba(242, 137, 15, 1);
  margin-top: 30px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  border-radius: 65px;
}
.contacts-wrap{
  height: calc(100vh - 122px);
  padding: 30px;

}
.contacts-title{
  border-bottom: 0.5px solid rgba(230, 230, 230, 0.25)
}
.contacts-title > h2{
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
  padding-bottom: 30px;
}
.contacts-container{
  padding: 30px 0;
  align-items: center;
  justify-content: space-around;
}
.contacts-info > h3{
  padding: 30px 0 10px 0;
  font-weight: bold ;
  font-size: 15px;
}

.contacts-map{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;

}
.leaflet-container {
  width: 600px; 
  height: 330px  ;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background-color: rgba(242, 137, 15, 1);
}
.form-container{
  width: 100%;
  height: 100vh;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(61, 51, 51, 0.9)
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.form{
  width: 480px;
  /* height: 650px; */
  background-color: rgba(20, 20, 20, 1);
  padding: 50px;
  position: relative;
}
.form, .form-component > input{
  border: 1px solid rgba(255, 255, 255, 1);

}
.form-component{
  padding-bottom: 30px;
}
.form-component > label{
  padding-bottom: 10px;
}

.form-component > input{
  height: 50px;
  padding: 0 15px;
  background-color: rgba(20, 20, 20, 1);
  margin-bottom: 30px;
  color: #fff;
}
.btn-submit{
  background-color: rgba(184, 184, 184, 1);
  margin: 0 auto;
}
.close{
  width: 14px;
  height: 14px;
  position: absolute;
  right:  20px;
  top: 20px;
  cursor: pointer;
}
.display-none{
  display: none;
}
.not-found-container{
  position: absolute;
  background-image: url('./components/img/notFound-bg.jpg');
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.not-found-404{
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.not-found-gif{
  position: absolute;
  left: -40px;
  width: 200px;
  opacity: 0.7;
}
.form-checkdox{
  margin-right: 10px;
}
@media screen and (max-width: 576px){
  .main-wrap{
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1000px){
  .header-navigation {
    position: inherit;
    top: 0;
    width: inherit;
  }
  .navigation-container{
    flex-direction: row;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
  }
  .menu-btn{
    display: none;
  }
  .menu-tel{
    display: block;
  }
  .main{
    padding: 50px 130px;
  }
  .main-wrap{
    margin: 15px;
    width: calc(100% / 3 - 30px);
    height: 230px;
  }
  .qest-heading{    
    font-size: 92px;
    margin-left: -20px;
  }
  .qest-container{
    width: 60%;
    justify-content:  center;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1266px){
  .menu-tel{
    display: flex;
  }
  .filter-link{
    width: calc(100% / 6);
    border-right: 1px solid rgba(255, 255, 255, 0.32);
    margin: 0;
    border-bottom: none;
  }
  .filter-link:last-child{
    border: none;
  }

}
